.remove-teacher,
.remove-student {
  cursor: pointer;
}

.teacher:last-of-type {
  margin-bottom: 1.5em;
}

.teacher.column.is-half .control {
  display: inline;
}

.teacher.column.is-half input {
  width: fit-content;
}

#generator textarea {
  min-width: 100%;
  width: 100%;
  height: 100px;
  max-height: 300px;
}
